<html>
    <style>
                .border {
          border: 1px solid
        }
        .button {
    background-color: #5BC125;
    border-radius: 3px;

    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #4CB911;
  }

  .button:active {
    position: relative;
    top: 1px;
  }
  .text {
    border-radius: 10px;
  }
  textarea {
    padding: 5px;
}
h3, a, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.back {
  height: 70px;
  width: auto;
  position:absolute;

}
.mark {
    position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  }
    </style>
    <body>

      <a href="/user"><img src="/images/logo.jpg" height="75" width="auto"></a>
        <div class="border"></div>
        <a href="/user"><img src="/images/back.svg" class="back"></a>
                
        <div style="text-align:center">
            <h3><%=title%></h3>
            <br>
            <br>
            <form id="reform">
            <textarea name="newtext" class="text" id="text" rows="8" cols="50"><%=text%></textarea>
            </form>
            <br>
            <br>
            <div class="button" id="button">Save</div>
            <br>
            <br>
            <div class="del"><img src="\images\trash.svg" height="40" width="auto"></div>
            <br>
            <br>
            <p>Undo</p>
            <img src = '/images/undo.svg' onclick="undo()" height="40" width="auto">


            <div class="mark">
              <p>Toma Rodin 🐯</p>
              </div>

        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
                $('.button').click(function(){
                     $.post('/user/<%=id%>',$('#reform').serialize()).done(
                       function(data){
                        if(data.redirect) {
                              window.location.href=data.url;
                             }
                        })
                })
            })

            function undo() {
              console.log("Ok")
              document.getElementById("text").value = "<%=text%>"
            }

            $(document).ready(function(){
                $('.del').click(function(){
                     $.post('/user/<%=id%>/delete',$('#reform').serialize()).done(
                       function(data){
                        if(data.redirect) {
                              window.location.href=data.url;
                             }
                        })
                })
            })
        </script>
</html>